<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--0.无参构造-->
    <bean id="user" class="com.cwlin.pojo.UserNone">
        <property name="name" value="cwlin"/>
    </bean>
    <!--1.下标赋值 Constructor argument index-->
    <bean id="user1" class="com.cwlin.pojo.User">
        <constructor-arg index="0" value="cwlin1"/>
        <constructor-arg index="1" value="3"/>
    </bean>
    <!--2.变量类型赋值 Constructor argument type matching，不建议使用-->
    <bean id="user2" class="com.cwlin.pojo.User">
        <constructor-arg type="java.lang.String" value="cwlin2"/>
        <constructor-arg type="int" value="18"/>
    </bean>
    <!--3.变量名称赋值 Constructor argument name-->
    <bean id="user3" class="com.cwlin.pojo.User">
        <constructor-arg name="name" value="cwlin3"/>
        <constructor-arg name="age" value="0"/>
    </bean>

    <!--设置别名：在获取Bean的时候可以使用别名获取-->
    <alias name="user" alias="userAlias"/>

    <!--bean就是java对象,由Spring创建和管理-->
    <!--
        id: bean的唯一标识符, 也就是相当于对象名
        class: bean对象的全限定名 = 包名 + 类型
        name: 也是别名, 而且name可以同时设置多个别名，可以用逗号 空格 分号隔开
        如果没有配置id, name就是默认标识符; 如果配置id, 又配置了name, 那么name是别名;
        如果不配置id和name,可以根据applicationContext.getBean(.class)获取对象;
    -->
    <bean id="userNone" class="com.cwlin.pojo.UserNone" name="test test1, test2; test3">

    </bean>
</beans>